<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.co.madhur.chatbubblesdemo">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
<uses-feature android:name="android.hardware.Telephony"></uses-feature>
    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".welcome"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login"
            android:parentActivityName=".welcome">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.co.madhur.chatbubblesdemo.welcome" />
        </activity>
        <activity
            android:name=".FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/title_activity_fullscreen"
            android:parentActivityName=".welcome"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.co.madhur.chatbubblesdemo.welcome" />
        </activity>
        <activity
            android:name=".Main2Activity"
            android:label="@string/title_activity_main2"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.co.madhur.chatbubblesdemo.LoginActivity" />
        </activity>
        <activity
            android:name=".Tabs_Main"
            android:label="@string/title_activity_tabs__main"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.co.madhur.chatbubblesdemo.LoginActivity" />
        </activity>
        <activity
            android:exported="true"
            android:name=".Tabs"
            android:label="@string/title_activity_tabs"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:exported="true"
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.co.madhur.chatbubblesdemo.LoginActivity"
                />
        </activity>
    </application>

</manifest>